.form{
   
    /* border: 2px solid black; */
    padding: 10px

}
.list{
    display:inline-block;
    margin: 1px;
    text-align: justify;
    border-radius: 8px;
    border: 2px solid black;
    font-size: 1em;
    font-weight: 200;
    background-color: rgb(135, 219, 117);
}

.musica{
    /* background-color: rgb(179, 179, 165); */
    justify-content:left
}
